# Python bytecode and compiled files
__pycache__/
*.py[cod]
*.so

# Virtual environments (if placed inside project directory)
.env/
.venv/

# VSCode project settings
.vscode/

# Jupyter notebook checkpoints and temp files
.ipynb_checkpoints/
*.bak
*.swp
*.tmp

# OS metadata files
.DS_Store
Thumbs.db

# Data directory (contains raw, intermediate and large files)
data/
docs/

# Model artifacts and logs
*.pkl
*.pt
*.h5
*.ckpt
*.log

# Packaging / builds
build/
dist/
*.egg-info/
src/vpf_classifier.egg-info/

# Output files from bioinformatics tools
*.tbl
*.faa
*.gff

*.out
*.csv
*.tsv

# Backup and temporary files
*.old
*.orig

# notebooks
notebooks/


# Random 
chatgpt.txt

# Do not track validation/test experiments
/tests/

# model_data
/models/complete_markers
/models/nested_model
/models/viral_markers

# runs (trials of user behaviour)
/runs/

# tool_data -> Data and trained models (users must download it)
/tool_data/

# dimiss scripts
/scripts/run_hmmscan_parallel2.sh
/scripts/run_hmm_scan.sh

# not used code
/src/vpf_classifier/pipelines/inference_pipeline.py

# tool_data (download by user)
tool_data_v0.4.0.tar.zst

# output del toy example
/toy_example/prod_gv
/toy_example/run_meta.json
/toy_example/prod_gv2
/toy_example/MSL40.fasta
/toy_example/prod_gv3
/toy_example/run_parallelpgv
/toy_example/run_parallelpgv2
/toy_example/readme
/toy_example/MSL40
/toy_example/medium_test.fa


# compressed files
*.tar.zst


# paper images
/images/
